WebContent/wsdl/StudentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.unilib.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.unilib.com" xmlns:intf="http://service.unilib.com" xmlns:tns1="http://dao.unilib.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.unilib.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dao.unilib.com"/>
   <element name="validateStudent">
    <complexType>
     <sequence>
      <element name="student" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateStudentResponse">
    <complexType>
     <sequence>
      <element name="validateStudentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dao.unilib.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="pin" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateStudentRequest">

      <wsdl:part element="impl:validateStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateStudentResponse">

      <wsdl:part element="impl:validateStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentServiceImpl">

      <wsdl:operation name="validateStudent">

         <wsdl:input message="impl:validateStudentRequest" name="validateStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateStudentResponse" name="validateStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceImplSoapBinding" type="impl:StudentServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceImplService">

      <wsdl:port binding="impl:StudentServiceImplSoapBinding" name="StudentServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/UniLib/services/StudentServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
